<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Unistore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a 
            
            <% if(pageTitle === ''){ %>

              class="nav-link active"

            <% }else { %>

              class="nav-link"

            <% } %>
            
            href="/">Home</a>
          </li>
          <% if(isLoggedIn) { %>
          <li class="nav-item">
            <a <% if(pageTitle === 'Your Orders'){ %>

              class="nav-link active"

            <% }else { %>

              class="nav-link"

            <% } %> href="/orders">Your Orders</a>
          </li>
          
          <li class="nav-item">
            <a <% if(pageTitle === 'Admin Products'){ %>

              class="nav-link active"

            <% }else { %>

              class="nav-link"

            <% } %> href="/admin/products">Admin Products</a>
          </li>

          <li class="nav-item">
            <a <% if(pageTitle === 'Add Product'){ %>

              class="nav-link active"

            <% }else { %>

              class="nav-link"

            <% } %> href="/admin/add-product">Add Products</a>
          </li>
          

          <li class="nav-item">
            <a <% if(pageTitle === 'Your Cart'){ %>

              class="nav-link active"

            <% }else { %>

              class="nav-link"

            <% } %> href="/cart">Your Cart</a>
          </li>
          <% } %>

        </ul>

        <ul class="navbar-nav ml-auto">

          <% if(!isLoggedIn) { %>
          <li class="nav-item">
            <a 
            
            <% if(pageTitle === 'Login'){ %>

              class="nav-link active"

            <% }else { %>

              class="nav-link"

            <% } %>
            
            href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a 
            
            <% if(pageTitle === 'Sign Up'){ %>

              class="nav-link active"

            <% }else { %>

              class="nav-link"

            <% } %>
            
            href="/signup">Signup</a>
          </li>
          <% }else{ %>
            <li class="nav-item">
              <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" style="background-color: inherit; border: none" href="/logout" class="nav-link active">Logout</button>
              </form>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="space"></div>